<div class="container">
    {% if entrada is defined %}
        <p class="titulo"> Origem: {{entrada.origem}} / Destino: {{entrada.destino}} </p>
        <p class="titulo"> Peso: {{entrada.peso}} / Altura: {{entrada.altura}} / Largura: {{entrada.largura}} / Comprimento: {{entrada.comprimento}}</p>
    {% endif %}
    {% if restricao is defined %}
        <p class="titulo"> {{restricao}} </p>
    {% else %}
    <section class="section">
        <div class="project-container">

            {% for frete in dados %}
                <div class="project-box" >
                    <h3>{{ frete.transp_nome }}</h3>
                    <label><strong>{{ frete.descricao }}</strong></label>
                    <label>Valor Frete:<strong> $ {{ frete.vlrFrete }} </strong></label>
                    <label>Prazo Entrega: {{ frete.prazoEnt }} dias</label>
                    <label>Previsão Entrega: {{ frete.dtPrevEnt|date("d/m/Y") }}</label>
                    {% if frete.alertas is not null %}
                        <h2>{{ frete.alertas|join(', ') }}</h2>
                    {% endif %}
                </div>
            {% endfor %}

            {% for frete in dados %}

                    {% if frete.servico == 'R' %}
                        {% for pontoRetira in frete.pontosRetira %}
                            <div class="project-box1" >
                                <h3>{{ pontoRetira.nome }}</h3>
                                <label>{{ pontoRetira.endereco.logradouro }}, {{ pontoRetira.endereco.numero }}</label>
                                <label>{{ pontoRetira.endereco.bairro }}, {{ pontoRetira.endereco.cidade }}/{{ pontoRetira.endereco.uf }}</label>
                                <label>CEP: {{ pontoRetira.endereco.cep }}</label>
                                <label>Contato: {{ pontoRetira.contato }}</label> 
                                <label>Telefone: {{ pontoRetira.telefone }}  {{ pontoRetira.celular }} </label>
                                <br>
                                <h2>Horários</h2>
                                {% for horario in pontoRetira.horarios %}
                                    <p>{{ horario.dia }} - Abre: {{ horario.abre }}, Fecha: {{ horario.fecha }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endif %}
</div>

<style>

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section {
    padding-block: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
}

h2 {
    font-size: 14px;
    font-weight: 600;
    border: 2 solid;
    z-index:2;
    color:red;
}

.titulo {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #4183c4;
}
.container {
    width: 100%;
    position: relative;
}

.project-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.project-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px #dcdcdc;
    overflow: hidden;
}

.project-box label, p {
    font-size: 15px;
    color: #777;
}

.project-box::after {
    content: '';
    position: absolute;
    bottom: -100%;
    background: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box:hover.project-box::after{
    bottom: 0;
}
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label {
    color: #4183c4;
    z-index: 2;
}

.project-box1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 450px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 8px 10px 2px #dcdcdc;
    overflow: hidden;
}

.project-box1 label {
    font-size: 15px;
    color: #777;
}

.project-box1 p {
    font-size: 12px;
    font-weight: 500;
    color: #555;
}

</style>